body{
    background-color: #f5f5f5;
}
p, ul{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border-style: none;
    margin-left: 20px;
    margin-right: 150px;
    list-style-position: inside;
    font-size: 18px;
}

img {
    border-style: none;
    margin-left: 20px;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    border-style: none;
    margin-left: 20px;
}

#privacyPar {
    position: absolute;
    bottom: 0px;
    top:450px;
}

h1 {
    border-style: none;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color:white;
    background-color: #2b4063;
}

#fingerpLink{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border-style: none;
    margin-left: 20px;
    margin-right: 150px;
    margin-top: 130px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    border-style: none;
    margin-left: 20px;
}

.index {
    position: absolute;
    bottom: 0px;
    top:500px;
}

.howTo {
    
    color:white;
}

h3 span {
    background-color: #2b4063;
}

.examples {
    color:white;
}

h2 span {
    background-color: #2b4063;
}

#home {
    font-family: Arial, Helvetica, sans-serif;
}

.tips {
    background-color: #d9d9d9;
}